* {
    font-family: agenda, sans-serif;
    font-weight: 300;
    font-style: normal;
}

html, body {
    height: 100%;
}

body, main, footer {
    display: flex;
}

body, main {
    flex-direction: column;
}

main, footer {
    align-items: center;
    justify-content: center;
}

body {
    background-color: #0f3a5b;
    text-align: center;
}

main {
    flex: 1;
}

footer {
    flex-direction: row;
    height: 40px;
    background-color: #8c92a6;
}

a {
    margin: 5px;
}

i.far, i.fas, i.fab {
    background-color: white;
    padding: 0.4em 0.3em;
    border-radius: 50%;
    font-size: 0.9em;
    color: #0F3A5B;
}

.logo-logotype-lockup {
    width: 70%
}

.tagline {
    font-weight: 100;
    color: #AFB3C2;
    font-size: 1.5em;
    margin: 1em 0 0 0;
}

@media only screen and (min-width: 600px) {
    .logo-logotype-lockup {
        width: 50%;
    }

    .tagline {
        font-size: 2em;
    }
}

@media only screen and (min-width: 900px) {
    .tagline {
        font-size: 3em;
    }
}