* {
    font-family: agenda, sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #454547;
}

nav {
    display: flex;
    flex-flow: row wrap;
}

nav ul {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    width: 40%;
    list-style: none;
    font-size: 18px;
}

.nav-logo {
    width: 20%;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul a {
    height: 30px;
}

nav img {
    height: 60px;
}

main {
    width: 92%;
    margin-left: 4%;
    display: grid;
    grid-template-areas:
        "h1"
        "aside"
        "article";
}

h1 {
    grid-area: h1;
}

h2 {
    font-weight: 600;
    color: #0F3A5B;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
    border: 5px solid #DEDFD0;
    padding: 0 1.5em;
}

aside p {
    font-family: mrs-eaves-roman-all-small-ca,sans-serif;
}

img {
    max-width: 100%;
}

/* html, body {
    height: 100%;
}

body, main, footer {
    display: flex;
}

body, main {
    flex-direction: column;
}

main, footer {
    align-items: center;
    justify-content: center;
}

body {
    background-color: #0f3a5b;
    text-align: center;
}

main {
    flex: 1;
}

footer {
    flex-direction: row;
    height: 40px;
    background-color: #8c92a6;
}

a {
    margin: 5px;
}

i.far, i.fas, i.fab {
    background-color: white;
    padding: 0.4em 0.3em;
    border-radius: 50%;
    font-size: 0.9em;
    color: #0F3A5B;
}

.logo-logotype-lockup {
    width: 70%
}

.tagline {
    font-weight: 100;
    color: #AFB3C2;
    font-size: 1.5em;
    margin: 1em 0 0 0;
}

@media only screen and (min-width: 600px) {
    .logo-logotype-lockup {
        width: 50%;
    }

    .tagline {
        font-size: 2em;
    }
}

@media only screen and (min-width: 900px) {
    .tagline {
        font-size: 3em;
    }
} */

@media only screen and (min-width: 480px) {
    header {
        height: 50px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        height: 50px;
        margin: 0;
        align-items: center;
    }

    nav img {
        background-color: #454547;
        padding: 12px 15px;
        border-radius: 100%;
        margin: 0 10px;
    }

    nav ul a {
        height: 100%;
        border-top: 4px solid #454547;
        border-bottom: 4px solid #454547;
        box-sizing: border-box;
        transition: all 0.5s ease-out;
    }
    
    nav ul a:hover {
        color: #b4a895;
        border-bottom: 4px solid #b4a895;
    }

    main {
        width: 92%;
        margin-left: 4%;
        display: grid;
        grid-template-areas:
            "h1"
            "article"
            "aside";
    }
}

@media only screen and (min-width: 768px) {    
    nav {
        justify-content: center;
    }
    
    nav ul {
        justify-content: space-between;
        width: auto;
    }

    .nav-logo {
        width: auto;
    }
    
    nav li {
        padding: 0 40px;
    }
    
    nav a {
        height: 100%;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}